@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
    color: #444444;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
}

.btn-submit {
    background-color: #0F223A;
    border: 1px solid #EE7925;
    color: #FCAB10;
    font-size: 15px;
    margin: 10px 0 0 0;
}

.btn-submit:hover {
    background-color: #FCAB10;
    border: 1px solid #FCAB10;
    color: #0F223A;
    font-size: 15px;
    margin: 10px 0 0 0;
}

.circuit-delete-btn-container {
    padding: 0 10px;
    position: relative;
    width: 25px;
}

.circuit-delete-button {
    background-color: #BB0A21;
    border: 0px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 700;
    margin: 0 7px;
    padding: 2px 7px;
    position: absolute;
    bottom: 0;
}

.circuit-detail {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    overflow: auto;
}

.circuit-link {
    text-decoration: none;
}

.circuit-list-item {
    padding: 0 10px 10px 10px;
}

.circuit-list-item a {
    color: #FCAB10;
    font-size: 18px;
    font-weight: 600;
    text-transform: none;
}

.circuit-list-item a:hover {
    color: #EE7925;
}

.credits {
    padding: 20px 30px;
}

.detail-view {
    margin: 0 0 35px 0;
}

.detail-view-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.detail-view-title h2 {
    margin: 0;
}

.form-input {
    width: 100%;
}

.form-style {
    background-color: #0F223A;
    box-shadow: 5px 5px #EE7925;
    color: #FCAB10;
    margin: auto 5px;
    padding: 10px;
}

.form-style h2 {
    color: #EE7925;
    margin: auto;
    padding: 5px 10px 0 10px;
}

.form-style h3 {
    margin: auto;
    padding: 5px 10px 0 10px;
}

footer {
    bottom: 0;
    color: #FCAB10;
    height: 50px;
    left: 0;
    position: fixed;
    text-align: right;
    width: 100%;
}

footer::before {
    position: absolute;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 80' fill='rgb(1,22,39)' fill-opacity='1'%3E%3Cpolygon points='0,80 100,80 100,0'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 80px;
    bottom: 0px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

header {
    font-size: 25px;
    font-weight: 700;
    height: 20px;
    left: 0;
    padding: 20px 30px;
    position: relative;
    text-transform: lowercase;
    top: 0;
}

header a {
    color: #FCAB10;
    text-decoration: none;
    position: fixed;
    z-index: 1;
}

header::before {
    position: absolute;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 80' fill='rgb(1,22,39)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,80'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 80px;
    top: 0px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
}


header a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.label {
    margin: 10px 0;
}

.list-container {
    height: 80vh;
    margin: 0 25px 60px 25px;
    overflow:auto;
    padding: 0 25px;
}

.list-detail {
    color: #EE7925;
}

.list-detail h3 {
    color: #EE7925;
    margin: 0;
}

.list-form-container {
    margin: 0 25px;
    padding: 25px;
}

.list-view-container {
    display: flex;
    flex-wrap: column;
    height: 80vh;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 0 0 0;
    width: 300px;
}

.workout-create-btn {
    background-color: #FCAB10;
    border: 1px solid #0F223A;
    color: #0F223A;
    margin: 14px 0 7px 0;
}

.workout-create-btn:hover {
    background-color: #0F223A;
    border: 1px solid #FCAB10;
    color: #FCAB10;
}

.workout-form-style {
    background-color: #FCAB10;
    box-shadow: 5px 5px #0F223A;
    color: #0F223A;
    height: 200px;
    margin: 5px auto 15px auto;
    padding: 10px;
    width: 200px;
}

@media only screen and (max-width: 600px) {

.circuit-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 22px 0;
}

    .list-container {
        height: 100vh;
        margin: 0 25px 0px 25px;
        overflow: hidden;
        padding: 0;
    }
}

@media only screen and (min-width: 600px) {

    .circuit-form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .list-container {
        height: 80vh;
        margin: 0 25px 60px 25px;
        overflow: auto;
        padding: 0 25px;
    }
}